{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block body %}
	<div class="container-md">

		<h1>Création d'un nouvel article</h1>

		<div>
 			{{ form(form_post) }} 	 
		</div>
		
	</div>
{% endblock %}