{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('blog/_form.post.html.twig', {'button_label': 'Modifier cette publication'}) }}

    <a href="{{ path('app_blog_index') }}">back to list</a>

    {{ include('blog/_delete_form.post.html.twig') }}
{% endblock %}
