/* IMPORTS */
@import "app.scss";

/*----------------------------- ADMIN  -----------------------------*/

#main-admin {
  padding: 40px 0 0!important;
}

.list-group-item {
  background-color: $post-bg!important;
  padding: 20px!important;
}  

.list-group-item .badge {
  font-size: 0.9rem!important;
  padding: 10px!important;
}  