/* VARIABLES SCSS */

// Color system
$gray-800: #303030 !default;

$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;

$dark: #2c4866 !default;

$body-bg: #0e1e2e !default;

$navbar-dark-color:       rgba(#fff, .90) !default;
$navbar-dark-hover-color: #ffb !default;

// Components
$border-radius:    5px !default;
$border-radius-lg: 5px !default;
$border-radius-sm: 3px !default;


/* IMPORTS */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootswatch/dist/superhero/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/superhero/bootswatch";


/* MON SCSS */
body {
  font-size: 0.95rem!important;
}

.text-muted {
  font-size: 0.8rem!important;
}

main {
  padding: 60px 10px 0;
}

.dropdown-menu-dark {
  background-color: $dark!important;
}

.text-title-h1, a.text-title-h2:hover  {
  color: $navbar-dark-hover-color!important;
}

.text-title-h2, a.text-title-h1:hover, label {
  color: #bff!important;
}

.bg-post {
  background-color: #172e49!important;
}

li.nav-item {
  margin: 0 8px 0 8px!important;
}

.card {
  border-radius: 11px!important;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 4px 8px, rgba(0, 0, 0, 0.33) 0px 4px 8px!important;
}

.card-header:first-child {
  border-radius: 11px 11px 0 0 !important; 
}

.card-footer:last-child {
  border-radius: 0 0 11px 11px!important;  
}

label {
  margin-bottom: 10px!important;
  //text-transform: uppercase!important;
  //font-weight: bold!important;
  font-size: 1rem!important;
}

/*--------------------  MESSAGES D'ALERTES --------------------*/

#messages {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    top: 62px;
    right: 0;
    left: 0;
    z-index: 1020;
    opacity: 0.75;
}