/* VARIABLES SCSS */
$body-bg: #0e2131 !default;


/* IMPORTS */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootswatch/dist/superhero/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/superhero/bootswatch";


/* MON SCSS */
main {
  padding: 60px 10px 0;
}

/*--------------------  MESSAGES D'ALERTES --------------------*/

#messages {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    top: 62px;
    right: 0;
    left: 0;
    z-index: 1020;
    opacity: 0.80;
}

