<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {# BLOCK CSS #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# BLOCK JS #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body>

    {# BLOCK PRINCIPAL #}
    {% block body %}{% endblock %}
        
</body>

</html>