{% extends 'base.html.twig' %}

{% block title %}ERREUR{% endblock %}

{% block body %}

	<div class="container text-center mt-5">
		
		<h1 class="text-warning">ERREUR</h1>

		<i class="fa-solid fa-6x fa-bomb text-danger my-5"></i>

		<p class="text-warning">Un erreur s'est produite pas de bol !!</p>

	</div>

{% endblock %}	